langchain
langchain-huggingface
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
python-docx
docx2txt
unstructured[docx]
matplotlib
sentence-transformers
numpy
pandas
scikit-learn
scipy
joblib
threadpoolctl
faiss-cpu
tiktoken
langchain-community
langchain-openai
langchain-groq
langchain-google-genai
langchain-anthropic
langchain-ollama
langchain-ollama